<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shaun.spotonmusic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SpotOnApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotOnMusic">

        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <activity
            android:name=".presentation.ui.activity.LoginActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".presentation.ui.activity.SplashActivity"
            android:exported="true"

            android:label="@string/app_name"
            android:theme="@style/Theme.SpotOnMusic.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.activity.HomeActivity"
            android:theme="@style/Theme.SpotOnMusic.NoActionBar">

        </activity>

    </application>

</manifest>